.SliderDiv {
  margin-left: 10px;
  display: inline;
}

.LabelDiv {
  font-weight:bold;
}

button {
  margin-top: 10px;
}

span {
  margin-bottom: 15px;
  display:block;
}

.InputValue {
  display: inline-block;
  margin-left:5px;
  width: 35px;
  height: 10px;
}

.GreyDot {
  display: inline-block;
  height: 18px;
  width: 18px;
  padding: 0px;
  margin: 0px 0px 0px 4px;
  background-color: grey;
  border-radius: 50%;
}

.OrangeDot {
  display: inline-block;
  height: 18px;
  width: 18px;
  padding: 0px;
  margin: 0px 0px 0px 4px;
  background-color: #eb651a;;
  border-radius: 50%;
}

h2 {
  margin-bottom:0px;
}

h4 {
  margin-top:0px;
  font-weight:500;
}