.App {
  margin: 10px;
}

.SliderDiv {
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
}

.LabelDiv {
  font-weight:500;
  margin: 5px 0px;
}

button {
  background-color: #eb651a;
  color: white;
  font-size: 25px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 20px 0px;
  cursor: pointer;
}

span {
  margin-bottom: 15px;
  display:block;
}

.InputValue {
  display: inline-block;
  margin-left:10px;
  width: 35px;
  height: 10px;
}

.GreyDot {
  display: inline-block;
  height: 18px;
  width: 18px;
  padding: 0px;
  margin: 0px 0px -2px 4px;
  background-color: grey;
  border-radius: 50%;
}

.OrangeDot {
  display: inline-block;
  height: 18px;
  width: 18px;
  padding: 0px;
  margin: 0px 0px -2px 4px;
  background-color: #eb651a;;
  border-radius: 50%;
}

h2 {
  margin-bottom:0px;
}

h4 {
  margin-top:0px;
  font-weight:500;
}
